<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1> To-Do Application </h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-8">
      <input type="text" class="form-control" name="task" placeholder="Task"
             #taskInput>
    </div>

    <div class="col-xs-4">
      <button class="btn btn-info" (click)='addTodo(taskInput.value)'>
        Add
      </button>
    </div>
  </div>

  <div id='delete-confirm' [style.display]="'none'">
    Do you want to delete this task ?
    <button (click)="deleteTodo()">Yes</button>
    <button (click)="restoreForDeletion()">No</button>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>To-Do list</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let todo of todoArray; let idx = index">

            <span *ngIf="!todo.done; else doneTodo">
              {{idx + 1}}. {{ todo.title}}
            </span>

            <ng-template #doneTodo>
              <span [style.text-decoration]="'line-through'">
                {{idx + 1}}. {{ todo.title}}
              </span>
            </ng-template>

            <button (click)="toggleTodo(idx)">
              {{
              (todo.done)
              ? 'Mark as undone'
              :'Mark as done'
              }}
            </button>
            <button (click)="markForDeletion(idx)">Delete todo</button>
            <button (click)="toggleEditDisplay(editContainer)">Edit</button>

            <div [style.display]="'none'" #editContainer>
              <input type="text" value={{todo.title}} #inputEdit>
              <button (click)="editTodo(inputEdit, idx)">Confirm edit</button>
            </div>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <button class="btn btn-danger" (click)="clearTodos()">Clear</button>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>